@media screen and (max-width:1200px) {
    .Navbar {
        display: none;
    }
}

.scroll_nav {
    display: flex;
}

@media screen and (min-width:1200px) {
    .Navbar {
        display: flex;
    }
    .scroll_nav {
        display: none;
    }
}